*{
    margin: 0px;
    padding: 2px;
}

.letters{
    display: grid;
    grid-row-gap: 1px;
    grid-template-columns: 6% 6% 6% 6% 6%;
    column-gap: 1px;
}

.cell11{
    grid-column-start: 1;
    grid-column-end:2;
}